* {
    color: #EFC7C2;
    font-family: Luminari; 
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-image: url('images/background-image.jpg');
}

.mainContainer {
    background-color: #401848;
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #3f826D;
    font-size: 50px;
    padding: 10px;
}

.titleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.subHead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameRules {
    font-size: 25px;
    padding: 10px;
}

.rulesHeader {
    font-size: 30px;
}

.rules {
    display: flex;
    padding: 15px;
    gap: 10px; 
}

/* SCOREBOX SECTION */

#game {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.scoreBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}






.buttonGrp {
    display: flex;
    padding: 20px;
    margin: 20px;
}

.rockimg, .paperimg, .scissorsimg {
    padding: 20px;
    margin: 20px;
    
}

div img {
    max-width: 300px;
}